@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* #region CSS RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.2rem;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

select:disabled,
input:disabled,
button:disabled,
.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

input {
  outline: none;
  border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

select {
  outline: none;
  appearance: none;
  background-image: url(../assets/arrow-down-2.png);
  background-size: 2.2rem;
  background-position: 97%;
  background-repeat: no-repeat;
  padding-right: 2rem;
  width: 100%;
  font-size: 1.6rem;
  color: #464a4d;
  border: 1px solid #e3e5e5;
  padding: 0.8rem 1rem;
  border-radius: 1rem;
  margin-top: 0.2rem;
}

/* #endregion CSS RESET END */

.spinner {
  border-radius: 999px;
  border: 0.5rem solid #7f3dff;
  border-right: 0.5rem solid #fff;
  border-left: 0.5rem solid #fff;
  background-color: transparent;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
